<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rc.live">

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <application>
        <activity
            android:name="com.rc.live.roomlist.LiveRoomListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.rc.live.room.LiveRoomActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.LiveRoomActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>