<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.rc.demo">

    <application
        android:name=".RCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="${APP_NAME}"
        android:networkSecurityConfig="@xml/httpsupport"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/BasisTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name="cn.rongcloud.profile.LauncherActivity"
            android:theme="@style/Theme.AppTheme.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BasisTheme_No"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- Android 12 需添加 android:exported="true"-->
        <activity
            android:name="com.sensorsdata.analytics.android.sdk.dialog.SchemeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sa6dede871" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="HIFIVE_APPID"
            android:value="${HIFIVE_APPID}" />
        <meta-data
            android:name="HIFIVE_SERVERCODE"
            android:value="${HIFIVE_SERVERCODE}" />
    </application>

</manifest>